* {
    box-sizing: border-box;
}

div, img {
    width: 350px;
    height: 350px;
}

h4 {
    font-family: "Arial Narrow", sans-serif;
    width: 110px;
    text-transform: uppercase;
    border-bottom: 2px grey solid;
    padding-bottom: 10px;
    margin: 40px 0 20px;
}

p {
    font-family: "Georgia", sans-serif;
}

.block_img {
    position: absolute;
}

.block_text {
    position: absolute;
    background: #C4DCD9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
    padding: 30px;
    transform: rotateY(180deg);
}

.general {
    position: relative;
}

.general {
    margin: 100px auto;
}

.general:hover .block_img {
    transform: rotateY(180deg);
    transition: 3s;
    opacity: 0;
}

.general:hover .block_text {
    transform: rotateY(360deg);
    transition: 3s;
    opacity: 1;
}